@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600&display=swap');

:root {
  --motenserrat: 'Montserrat', sans-serif;
  --roboto-slab: 'Roboto Slab', serif;
  --pale-gray: #f5f6fa;
  --white: #fff;
  --monte-blue: #0290ff;
  --monte-dark-gray: #121212;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
}

body {
  background-color: var(--pale-gray);
}

a {
  text-decoration: none;
  color: gray;
}

a:visited {
  color: var(--monte-dark-gray);
}
